body{
    background-image: url(./1580.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;

}
.containerr{
    display: flex;
    justify-content: center;
    text-decoration: none;
}

.ordenes{
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

.contCreate{
display: flex;
justify-content: center;
flex-direction: row;
margin-bottom: 65px;
}

.create{
height: 30px;
width: 200px;
background-color: rgba(0, 0, 0, 0.959);
color: rgb(186, 183, 183);
border-radius: 1rem;
cursor: pointer;
position: absolute;
transform: translate(-50%, -50%);
margin-top: 0px;
overflow: hidden;
margin-top: 20px;
margin-bottom: 15px;
border: 1px rgba(247, 240, 229, 0.244) solid;

}

.create::before{
    
    content: "Crear actividad🎯";
    color: rgb(186, 183, 183);
    font-size:12px;
    transform: translate(-50%, -50%);
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    transition: all 0.5s ease-in-out;
    top: 11.5px;
    
    
}


.create:hover::before{
    top: 60px;
}

.create::after{
    content: "Click aqui 🖱️";
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70px;
    font-size:12px;
    transition:all .5s ease-in-out ;
}

.create:hover::after{
 top: 12px;
}

.paginate{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.refresh{
    position: absolute;
    left: 25px;
    top :20px;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(207, 207, 134, 0.397);
    color: rgb(255, 250, 250);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
}

.refresh:hover{
    background-color: rgb(248, 248, 248);
    color: rgb(107, 138, 165);
    font-family: Arial, Helvetica, sans-serif;

}

.loading{
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 400px;
}

.div_loading{
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxLoading{
    display: inline-block;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 130px;
    width: 500px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.493);
    border-radius: 7px;
}


.cargandoPaises{
    color: rgba(223, 215, 215, 0.849);;
    width: 500px;
    height: 70px;
    font-size: 50px;
    
    
}


.divBotton{
    display: flex;
    justify-content: left;
    margin-top: 40px;
    margin-left: 150px;
}


.botonLoading{
    display: inline-block;
    justify-content: center;
    width: 120px;
    height: 40px;
    align-items: center;
    text-decoration: none;
    background-color: rgba(158, 154, 154, 0.849);
    font-size: 14px;
    cursor: pointer;
    border-radius: 7px;
    transition:all .1s ease-in-out ;
}

.botonLoading:hover{
    color: rgb(248, 245, 245);

}

.divGeneral{
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background-color: black;
}

.buton{
    width: 200px;
    height: 40px;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid rgba(207, 207, 134, 0.397);
    color: rgb(255, 250, 250);
    background-color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    transition: 0.3s ease-in-out;
    margin-left: 430px;
}

.buton:hover{
    background-color: rgb(248, 248, 248);
    color: rgb(107, 138, 165);
    font-family: Arial, Helvetica, sans-serif;
}

.diosMio{
    display: flex;
     justify-content: flex-start;
    align-items: center;
    width: 40.5%;
}

