

.divFlex{
display: flex;

flex-direction: row;
height: 25px;
/* position: absolute;
left: 650px; */
margin-right: 50px;
}

.select1{
    width: 150px;
    margin-right:10px ;
    position: relative;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0px solid white;
    text-align: center;
    border-radius: 3px;
    
    
}

.radius{
   
    max-width: 100px;
    
 }

 .radius:hover{
    background-color: rgb(35, 35, 35);
 }





.select2{
    width: 150px;
    margin-right:10px ;
    position: relative;
    background-color: rgb(35, 35, 35);
    color: white;
    border: 0px solid white;
    text-align: center;
    border-radius: 3px;
    
}

