

.divFlex{
display: flex;

flex-direction: row;
height: 25px;
/* position: absolute;
left: 650px; */
margin-right: 50px;
}

.select1{
    width: 170px;
    margin-right:10px ;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    
    text-align: center;
    
}

.radius{
    border-radius: 9px;
    background-color: rgb(35, 35, 35);
    max-width: 150px;
 }

.select1::focus{
    border: 1px solid black;
    
}



.select2{
    width: 150px;
    margin-right:10px ;
    position: relative;
    background-color: rgb(0, 0, 0);
    color: white;
    
    text-align: center;
    
}

.select2::focus{
    border: 1px solid black;
    
}